
<!--Jumbotron with form-->
<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <hr class="my-4">

  <form >
    <!--    TODO: input with autocomplete-->
    <div class="form-group">
      <label>Naam horecazaak</label>
      <input class="form-control" type="text" placeholder="Naam van de horecazaak" name="name" [(ngModel)]="horeca.naam" >
    </div>
    <div class="form-group">
      <label>Branche</label>
      <select class="custom-select" [(ngModel)]="horeca.branche" name="branche">
        <option value="" >-- Kies branche --</option>
        <option *ngFor="let branche of branches" [value]="branche" >{{branche | slice: 11}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Winkelgebied</label>
      <select class="custom-select" [(ngModel)]="horeca.winkelgebied" name="winkelgebied">
        <option value="" >-- Kies winkelgebied --</option>
        <option *ngFor="let winkelgebied of winkelgebieden" [value]="winkelgebied" >{{winkelgebied}}</option>
      </select>
    </div>

    <button class="btn btn-outline-success"
            (click)="onSubmit()">
      <span class="ml-1">Zoeken</span>
    </button>

    <button class="btn btn-outline-danger"
            (click)="newSearch()">
      <span class="ml-1">Nieuwe zoekopdracht</span>
    </button>

  </form>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Naam</th>
    <th scope="col">Adres</th>
    <th scope="col">Branche</th>
    <th scope="col">Winkelgebied</th>
    <th scope="col">Rating</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let h of horecaPage.content">
    <td>{{h.naam}}</td>
    <td>
      {{h.straat}} {{h.huisNr}} {{h.huisNrToev}} <br />
      {{h.postcode}} {{h.gemeente}}
    </td>
    <td>{{h.branche}}</td>
    <td>{{h.winkelgebied}}</td>
    <td>
      <span *ngIf="h.rating > 0; else ratingZero" ><i *ngFor="let i of [].constructor(h.rating)" class="material-icons">star</i></span>
      <ng-template #ratingZero> - </ng-template>
    </td>
    <td>
      <button mat-raised-button color="primary" class="text-white">Geef score</button>
    </td>
  </tr>

  </tbody>
</table>

<app-pagination
  [horecaPage]="horecaPage"
  (nextPageEvent)="getNextPage()"
  (previousPageEvent)="getPreviousPage()"
  (firstPageEvent)="getFirstPage()"
  (lastPageEvent)="getLastPage()">
</app-pagination>
